[submodule "satnogs-db"]
	path = satnogs-db
	url = https://gitlab.com/librespacefoundation/satnogs/satnogs-db.git
	branch = dev
[submodule "satnogs-client"]
	path = satnogs-client
	url = https://gitlab.com/librespacefoundation/satnogs/satnogs-client.git
	branch = 0
[submodule "satnogs-network"]
	path = satnogs-network
	url = https://gitlab.com/librespacefoundation/satnogs/satnogs-network.git
	branch = dev
